$color-white: #ffffff;
$color-white-alter: #f5f5f5;
$color-grey: #485563;
$color-grey-dark: #29323c;
$color-grey-alt-dark: #2b3746;
$text-color: #e8e8e8;
$text-color-light: #eeeeee;
$text-color-alt: #dddddd;
